@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@1,300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

#wrapper {
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
}

.logo-container img {
  width: 6rem;
  height: 6rem;
}

.container {
  width: 1200px;
  margin: 0px auto;
}

.navbar {
  /* border: 2px solid black; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Be Vietnam Pro", sans-serif;
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo-text {
  margin-left: -1.7rem;
  font-size: 28px;
}

.nav-items {
  display: flex;
  gap: 2rem;
  padding: 0 4rem;
}
a {
  text-decoration: none;
  color: black;
}

.nav-items a:hover {
  /* transition: 0.1s; */
  font-weight: bold;
}

/* Hero Section Start */
.hero-section {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  gap: 5rem;
  margin: 4rem auto;
  padding: 0 1rem;
  padding-bottom: 8rem;
}

.faded-text {
  position: absolute;
  font-size: 7em;
  color: rgb(231, 231, 231);
  user-select: none;

  bottom: 10%;
  left: -5%;
  font-weight: bold;
  transition: all 3s;
}

.hero-section-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
}

.hero-section-heading {
  font-size: 35px;
  color: #343d68;
  font-weight: 500;
}

.role {
  font-weight: 800;
  color: #4e45d5;
}

.hero-section-sub-heading {
  font-size: 45px;
  line-height: 45px;
}

.hero-section-description {
  margin-top: 1rem;
  width: 70%;
  font-weight: 500;
}

.btn-pink {
  height: 3rem;
  width: 8rem;
  text-align: center;
  box-sizing: border-box;
  padding-top: 1em;
  background-color: rgb(228, 89, 89);
  color: white;
  box-shadow: 3px 3px 10px 0px #1f1f1f;
  position: relative;
  cursor: pointer;
  z-index: 1;
}
.btn-pink::before {
  content: "";
  background-color: rgb(53, 179, 34);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transform: scaleX(0);
  transform-origin: left;
  transition: all 0.8s;
  z-index: -1;
}
.btn-pink:hover::before {
  transform: scaleX(1);
  z-index: -1;
}

.hero-section-right {
  position: relative;
}
.absolute {
  position: absolute;
}
.user-image {
  padding: 2.5rem;
  filter: grayscale(1);
  transition: all 1s;
  animation: scaleImage 5s linear infinite;
}

.user-image img {
  z-index: -1;
}

@keyframes scaleImage {
  0% {
    filter: grayscale(0);
    transform: scale(1);
  }
  50% {
    filter: grayscale(1);
    transform: scale(1.1);
    box-shadow: 3px 3px 10px black;
  }
  100% {
    filter: grayscale(0);
    transform: scale(1);
  }
}

.icon-dots {
  z-index: 1;
  right: 0;
  bottom: -1rem;
  animation: dotsAnimation 5s infinite;
}

@keyframes dotsAnimation {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-15px);
  }
  100% {
    transform: translateY(0px);
  }
}

.icon-cube {
  z-index: 1;
  right: 1em;
  animation: cubeAnimation 3s infinite;
}

@keyframes cubeAnimation {
  0% {
    transform: rotateY(0deg) translateY(0px);
  }
  50% {
    transform: rotateY(180deg) translateY(-12px);
  }
  100% {
    transform: rotateY(360deg) translateY(0px);
  }
}

.icon-circle {
  z-index: 1;
  bottom: 1em;
  left: 1em;
  animation: shakeEffect 3s linear infinite;
}

@keyframes shakeEffect {
  50% {
    left: 5%;
    bottom: 10%;
  }
}

.icon-zigzag {
  z-index: 1;
  animation: zigzagAnimation 3s infinite;
  top: 2.5em;
}

@keyframes zigzagAnimation {
  0% {
    left: 0;
    top: 5%;
  }
  50% {
    left: 8%;
    top: 2%;
  }
  100% {
    left: 0;
    top: 5%;
  }
}

.icon-plus {
  z-index: 1;
  top: -0.8rem;
  left: 50%;
  animation: shakeEffectPlus 3s infinite;
}

@keyframes shakeEffectPlus {
  50% {
    top: 3%;
    left: 48%;
  }
}
