@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@1,300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Be Vietnam Pro", sans-serif;
}

#wrapper {
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
}

.logo-container img {
  width: 6rem;
  height: 6rem;
}

.container {
  width: 1200px;
  margin: 0px auto;
}

.navbar {
  /* border: 2px solid black; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo-text {
  margin-left: -1.7rem;
  font-size: 28px;
}

.nav-items {
  display: flex;
  gap: 2rem;
  padding: 0 4rem;
}
a {
  text-decoration: none;
  color: black;
}

.nav-items a:hover {
  /* transition: 0.1s; */
  font-weight: bold;
}
